<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <div class="no-print">
      {%- include header.html -%}
    </div>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {% include anchor_headings.html html=content anchorBody='#' anchorClass='anchor' h_max=4 h_min=2 %}
      </div>
    </main>

    <div class="no-print">
      {%- include footer.html -%}
    </div>
  </body>

</html>
